TELEGRAM_BOT_TOKEN=123456:ABC-DEF
TELEGRAM_ADMIN_IDS=[123456789]
SUPPORT_GROUP_ID=-1001234567890
YOOMONEY_SECRET=your_yoomoney_notification_secret
YOOMONEY_RECEIVER=4100116075156820
DB_PATH=/data/db.sqlite3
SCHEDULER_TIME_H=24
WEBHOOK_URL=https://yourdomain.com
WEBHOOK_PORT=443
TELEGRAM_WEBHOOK_PATH=/some-path-1
YOOMONEY_WEBHOOK_PATH=/some-path-2
